.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.item-enter {
  opacity: 0;
  transform: translateY(-30px);
}
.item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 1000ms ease-out;
}