.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile ul {
    display: none;
  }
}